<article class="post-row content-center" data-parent="<%= post.id %>">
  <headre class="post-header flex-row">
    <%= image_tag(post.user_pic ? post.user_pic : "post_img_default.png", :size => "28x28", 
                                                :class => "profile-img rounded-circle") %>

    <%= link_to(post.username, user_path(post.user), :class => "post-username") %>
    <span class="post-time"><%= time_ago_in_words(post.created_at) %></span>
  </headre>
  <div class="post-body">
    <%= image_tag(post.image ? post.image : "avatar_default.png", :size => "600x600", 
                                          :class => "post-img") %>
  </div>
  <footer class="post-footer">
    <div class="post-loves">
      <h2 class="loves">25k likes</h2>
    </div>
    <div class="username flex-row">
      <p class="post-caption">
        <%= link_to(post.user.username, user_path(post.user) , :class => "link-to") %>
        <% if post.caption.length > 215 %>
          <%= truncate(post.caption, :length => 215) { link_to "Read More", "#", 
              :class => 'read-more', :'data-parent' => "#{post.id}"} %>

          <script type="text/javascript">
            $('.read-more[data-parent="<%= post.id %>"]').on('click', function(e) {
              e.preventDefault();
              $(this).parent().html('<%= escape_javascript post.caption %>');
            });
          </script>    
          
        <% else %>
          <%= post.caption %>
        <% end %>
      </p>  
    </div>
    <div class="post-comments flex-col">
      <h6 class="view-more"><%= pluralize(post.comments.count, 'Comment') %></h6>
      <div class="comments-list" data-parent="<%= post.id %>">
        <% post.recent_comments.each do |comment| %>
          <%= render :partial => "comments/partials/comment_row", :locals => {:comment => comment} %>
        <% end %>
      </div>
      <div class="react flex-row">
        <% if like = post.user_like(current_user) %>
          <div class="icon l-r react-plus l-<%= post.id %>" data-action="posts/<%= post.id %>/likes/<%= like.id %>">
          </div>
        <% else %>
          <div class="icon l-e-g react-plus l-<%= post.id %>" data-action="posts/<%= post.id %>/likes"></div>
        <% end %>
        
        <%= form_for [post, Comment.new], :html => {:class => 'new-comment'} do |f| %>
          <%= f.text_field :text, :class => "comment", :placeholder => "Add a comment... ", :autocomplete => 'off' %>
        <% end %>
      </div>
    </div>
  </footer>
</article>