<div class="row">
  <nav class="navbar navbar-light bg-white">
    <div class="nav navbar-nav container flex-row">
      <%= link_to("", root_path, :class => "navbar-brand") %>
      <div class="search-bar">
        <div class="search-field flex-row">
          <div class="icon s-icon"></div>
          <input type="text" placeholder="Search">  
        </div>
        <div class="search-result">
          <a href="#" class="link-to">
            <div class="search-row flex-row">
              <%= image_tag("user_2.jpg", :class => "user-pic rounded-circle", :size => "32x32") %>
              <div class="user-info">
                <h5 class="username">James Cameron Heliry Henry</h5>
                <h6 class="name">Aimen Sasi</h6>
              </div>
            </div>
          </a>
        </div>
      </div>
      <%= link_to("", root_path, :class => "nav-item nav-link icon discover") %>
      <%= link_to("", "#", :class => "nav-item nav-link icon l-e-g") %>
      <%= link_to("", user_path(current_user), :class => "nav-item nav-link icon user") %>
    </div>
  </nav>
</div>